NEXT_PUBLIC_APP_NAME=nextjs-saas
NEXT_PUBLIC_APP_URL=http://localhost:3000
STRIPE_SECRET_KEY=
STRIPE_PRODUCT_ID=
STRIPE_PRICE_ID=
DATABASE_URL=
STRIPE_WEBHOOK_SECRET=
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=
CLERK_SECRET_KEY=
NEXT_PUBLIC_POSTHOG_PROJECT_TOKEN=
NEXT_PUBLIC_POSTHOG_HOST=https://us.i.posthog.com
VERCEL_TOKEN=
VERCEL_PROJECT_ID=
VERCEL_TEAM_ID=
VERCEL_ORG_ID=
VERCEL_PROJECT_URL=
VERCEL_URL=
TWILIO_ACCOUNT_SID=
TWILIO_OAUTH_CLIENT_ID=
TWILIO_OAUTH_CLIENT_SECRET=

# Must be a Twilio-verified sender address
TWILIO_EMAIL_FROM_ADDRESS=
TWILIO_EMAIL_FROM_NAME=
